<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
</head>
<body style="background-color: black;text-align:center;color:gold">
    <h1>Hockey is our National Game!!!</h1>
    <img src="https://www.shutterstock.com/image-illustration/major-dhyan-chand-portrait-illustration-600nw-2373869179.jpg" alt="" width="300px">
    <h2><b>Major Dhyan Chand</b></h2>
    <small>🏑The Wizard or The Magician of hockey🏑</small>
    <p style="color: aliceblue;"><i>Major Dhyan Chand (29 August 1905 3 December 1979) was an Indian field hockey player. He is widely regarded by many as the greatest field hockey player in world history.He was known for his extraordinary ball control and goal-scoring feats, in addition to earning three Olympic gold medals, in 1928, 1932 and 1936, during an era where India dominated field hockey. Dhyan Chand's influence extended beyond these victories, as India won the field hockey event in seven out of eight Olympics from 1928 to 1964.</i></p>
    <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-15378,resizemode-75,msid-102153931/news/sports/indian-mens-hockey-team-records-1-1-draw-with-netherlands.jpg" alt="" width="350px">
    <img src="https://thumbs.dreamstime.com/b/outdoor-field-hockey-stadium-stick-ball-copy-space-field-hockey-stick-ball-grass-brightly-lit-outdoor-stadium-109791692.jpg" alt="" width="350px">
    <img src="https://ichef.bbci.co.uk/news/480/cpsprodpb/15067/production/_119791168_gettyimages-1331876841-594x594.jpg.webp" alt="" width="350px">
</body>
</html>